*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.border-screen
{
    width: 20%;
    height:65vh;
    margin: auto;
    margin-top: 8%;
    border: 4px solid black;
    box-shadow: -8px -0px 5px rgb(108, 108, 108),8px 0px 5px rgb(108, 108, 108);
    border-radius:40px;
    background-color: rgb(20, 21, 23);
}
.top-screen
{
    width: 50%;
    height:20px;
    margin: auto;
    border-radius:0px 0px 10px 10px;
    background-color: black;
}
.speaker
{
    width: 45%;
    height: auto;
    padding: 3px;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(25, 25, 25);
}
.camera
{
    width: 10px;
    height: auto;
    padding: 3px;
    border-radius: 100%;
    margin-left: 80%;
    margin-top: -6%;
   background-color: rgb(11, 12, 14);
}
.under-camera
{
    width: 4px;
    height: auto;
    padding: 2px;
    border-radius: 100%;
    background-color: rgba(25, 63, 112,.5);
}
.reset-screen
{
    width: 100%;
    height: auto;
    padding: 5px;
    text-align: center;
}
.reset-screen span
{
    color:rgb(213, 221, 224);
    font-size: 25px;
}
#countLabel
{
    color: rgb(213, 221, 224);
   font-size: 70px;
   text-align: center;
   margin-top: 50px;
   display: block;
   border: none;
   width: 100%;
   background-color: transparent;
}
.plus-min
{

    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
}
#increaseBtn, #decreaseBtn{
    color: rgb(213, 221, 224);
    font-size: 25px;
    padding: 15px;
    margin-top: 30px;
    background-color: transparent;
    /* border: none; */
    border-radius: 100%;
}
button:hover
{
    cursor: pointer;
}
#increaseBtn:hover, #decreaseBtn:hover
{
    background:#4C4E52;
}

@media only screen and (max-width: 1440px) {
    .border-screen {
        width: 20%;
        height: 80vh;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 1366px) {
    .border-screen {
        width: 20%;
        height: 80vh;
    }
}

@media only screen and (max-width: 1280px) {
    .border-screen {
        width: 20%!important;
        height: 80vh;
    }
}

@media only screen and (max-width: 1199px) {
    .border-screen {
        width: 20%!important;
        height: 80vh;
    }
}

@media only screen and (max-width: 1024px) {
    .border-screen {
        width: 20%!important;
        height: 80vh;
    }
}

@media only screen and (max-width: 991px) {
    .border-screen {
        width: 25%!important;
        height: 80vh;
    }
}

@media only screen and (max-width: 767px) {
    .border-screen {
        width: 80%!important;
        height: 80vh;
    }
}

@media only screen and (max-width: 640px) {
    .border-screen {
        width: 80%!important;
        height: 80vh;
    }
}

@media only screen and (max-width: 480px) {
    .border-screen {
        width: 80%!important;
        height:90vh!important;
    }
}
